.hero{
    position: relative;
    width: 100%;
    height: 100%;
}
.hero>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.filter{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #1B1B1D, rgba(24, 24, 26, 0.78), rgba(24, 24, 26, 0.38));
    left: 0;
    z-index: 1;
}
.hero__content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4em;
    width: 100%;
    height: 100%;
    padding: 0em 2em;
    z-index: 2;
}
.hero__caption{
    display: block;
    width: 15em;
    font-size: 4em;
    color: white;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 950px) {
    .search-box{
        width: 90%;
    }
}
@media screen and (max-width: 700px) {
    .hero__caption{
        font-size: 8vw;
        width: 100%;
    }
}